<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jww.base.am.dao.mapper.SysUserMapper">

    <select id="selectPage" resultType="com.jww.base.am.model.entity.SysUserEntity">
        SELECT
          u.*, d.dept_name AS deptName
        FROM
          sys_user u
        LEFT JOIN sys_dept d ON u.dept_id = d.id_
        WHERE
          u.is_del = 0
        <if test="searchKey != null">
            AND (u.user_name LIKE "%"#{searchKey}"%" OR phone_ LIKE "%"#{searchKey}"%" OR account_ LIKE "%"#{searchKey}"%" )
        </if>
    </select>
</mapper>
